<template>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class=" col mt-4">
				<h5>The tests go here</h5>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<ul class="list-group mb-3 mt-4" v-for="(item, index) in fruits" :key="index">
					<li class="list-group-item">{{ item }}</li>
				</ul>
				<button type="button" class="btn btn-primary" @click="fillFruitBasket">Add Fruits</button>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				newEntries: {{ newEntries }}
				<table>
				    <tr v-for="(fund, index) in defaultFunds">
				      <td>{{ fund.name }}</td>
				      <td>
				       <input    v-model="newEntries[index].id"
				                 name="entryFund"
				                 :value="fund.id"
				                
				                 type="text"  />
				      </td>
				      <td>
				       <input  v-model="newEntries[index].amount"
				                 name="entryFund" 
				                 type="text"  />
				      </td>
				    </tr>
				</table>
			</div>
			<div class="col"></div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Tests",
		data() {
			return {
				fruits: [
					{
						avocados: '',
						pinneaples: ''
					}
				],
				defaultFunds: [
				    {
				       id: 100,
				       name: 'fund 0'
				    },
				    {
				       id: 101,
				       name: 'fund 1'
				    }
				],
				newEntries: [{}, {}]
			}
		},
		methods: {
			fillFruitBasket: function () {
				this.fruits = {...{avocados: 2, pinneaples: 5}}
			}
		}
	};
</script>

<style></style>